body {
    font-family: sans-serif;
    padding: 15px;
    margin: 0;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    font-size: large;
    background-color: white;
}

ul {
    list-style: none;
}

nav ul {
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

nav a {
    text-decoration: none;
    padding: 0 2px;
}

a:visited {
    color: black;
}

a:hover {
    background-color: black;
    color: white;
}

#title {
    display: flex;
    text-align: left;
    color: #333;
}

#prompt {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#selector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
}

#selector h1 {
    margin: 0;
}

#selector li:first-child {
    color: gray;
}

#selector li:last-child {
    color: gray;
}

#deco {
    background-color: black;
    width: 10px;
}

#blogList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin: 0;
    padding: 0;
}

.blogPost {
    display: flex;
    flex-direction: column;
}

.postTitle {
    margin-bottom: 0;
}

.postTimestamp {
    font-size: small;
    font-style: italic;
    color: gray;
}

#photoGallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    row-gap: 50px;
    margin: 0;
    padding: 0;
}

#photoGallery li {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.photo {
    width: 100%;
    display: block;
}

.photoCaption {
    text-align: center;
    font-style: italic;
    color: gray;
}